body {
  color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
  background: antiquewhite url("img/bg.jpg") repeat 50% 0;
}
h1 {
  color: violet;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

p {
  color: black;
  
}
img {
  width: 200px;
}
#hight-lights {
  background-color: #00ab0e;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
footer{
  color: black;
}
#news {background-color: #00ab0e;}
h2{background-color: #01800c;}
article{background-color: #01800c;}